* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primary-colour: #2a4747;
    --dark-colour: #002642;
    --light-colour: #F9F8F8;
}






/*Main Header*/
.main-page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.main-page-header .container a {
    color: var(--primary-colour);
}
.main-page-header .container .logo {
    font-weight: 700;
}

@media(max-width: 480px) { /*Mobile Screens Main Header*/
.main-page-header .container .hamburger i {
    cursor: pointer;
    display: inline-block;
    transform: 0.3s;
}
.rotate {
    transform: rotate(90deg);
}
.main-page-header .container .menu {
    display: none;
}
}
@media(min-width: 481px) {
    .main-page-header .container .hamburger {
        display: none;
    }
    .main-page-header .container .phone {
        display: none;
    }
    .main-page-header .container .menu ul {
        display: flex;
        gap: 3vw;
    }
    .main-page-header .container .menu ul a {
        transition: 0.3s ease-in-out;
    }
    .main-page-header .container a .logo p {
        transition: 0.3s ease-in-out;
    }
    .main-page-header .container .menu ul a:hover {
        color: gray;
    }
    .main-page-header .container a .logo p:hover {
        color: gray;
    }
  
}






/*drop down menu*/
/*Mobile Only*/
.drop-down-menu {
    position: absolute;
    z-index: 1000;
    padding: 5px 50px;
    right: 0;
    font-weight: 600; 
    width: 100%; 
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, opacity 0.5s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.drop-down-menu ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: end;
}
.show {
    max-height: 200px;
    opacity: 1;
}
.hero .drop-down-menu ul a {
    color: var(--primary-colour);
}






/*Hero*/
/*All Hero*/
.hero {
    background: url(./assets/hero-image.jpg) no-repeat;
}
.hero .container {
    display: flex;
    flex-direction: column;
    position: relative;
}
.hero .container .hero-text {
    width: 55%;
    color: var(--primary-colour);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*Mobile Hero*/
@media (max-width: 480px) {
    .hero {
        background-size: 550px auto;
    }
    .hero .container {
        gap: 20px;
        padding-bottom: 30px;
    }
    .hero .container .hero-text {
        width: 55%;
        padding-top: 20px;
        gap: 10px;
    }
}
/*Desktop Hero*/ 
@media (min-width: 481px) {
    .hero {
        background-size: 100%;  
    }
    .hero .container {
        display: flex;
        gap: 15vh;
        padding: 70px 0;
        
    }
    .hero .container .hero-text {
        width: 40%;
        font-size: 2.3rem;
    }
   
}







/*Service Cards*/
.service-cards .container .card a {
    color: var(--dark-colour);
}
/*Mobile Screen*/
@media (max-width: 480px) {
.service-cards .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.service-cards .container .card .service-card-header {
    font-weight: 600;
}
.service-cards .container div:nth-child(1) {
    margin-top: 30px;
}
.service-cards .container div:nth-child(4) {
    margin-bottom: 30px;
}
.service-cards .container .card {
    padding: 20px;
}
}
/*Desktop*/
@media (min-width: 481px) {
    .service-cards .container {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
        padding: 50px;
    
    }
    .service-cards .container .first {
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .service-cards .container .second {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .service-cards .container .third {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .service-cards .container .fourth {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .service-cards .container .card {
        padding: 15px 40px;
        min-height: 350px;
    }
    .service-cards .container .card a {
        cursor: pointer;
        transition: 0.3s;
    }
    .service-cards .container .card a:hover {
        color: gray;
    }
}









/*About Section*/
.about .container .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}
/*Desktop*/
@media (min-width: 481px) {
    .about .container p {
        width:70%;
    }
    .about .container {
        padding: 30px 15%;
    }
    .about .container .about-content h2 {
        font-size: 2.5rem;
    }
    .about .container .about-content {
        gap: 30px;
    }
}







/*Why Work with us*/
/*All*/
.work-with-us .container img {
    width: 100%;
    height: auto;
}
/*Mobile*/
@media (max-width: 480px) {
.work-with-us .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.work-with-us .container {
    padding: 20px 0;
}

.work-with-us .container button i{
    padding-left: 10px;
}
.work-with-us .container .image-button button {
    margin-top: 20px;
}
.work-with-us .container .text button {
    display: none;
}
}
@media (min-width: 481px) {
    .work-with-us .container {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
    .work-with-us .container .text {
        grid-column: 1/2;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 50px 0;
        width: 80%;
    }
    .work-with-us .container .image-button {
        grid-column: 2/3;
    }
    .work-with-us .container .image-button {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
        gap: 30px;
    }
    .work-with-us .container img {
        width: 100%;
        height: auto;
    }
    .work-with-us .container .text button {
        align-self: start;
        display: flex;
        align-items: center;
        gap: 18px;
    }
    .work-with-us .container .image-button button {
        display: none;
    }

}








/*Other Services*/
/*Mobile*/
@media (max-width: 480px){
.other-services .container {
    padding: 30px 30px;
}

.other-services .container ul {
    list-style-type: square;
}
}
/*Desktop*/
@media (min-width: 481px) {
    .other-services .container {
        padding: 60px 0;
    }
    .other-services .container ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }
    .other-services .container h3 {
        display: flex;
        justify-content: center;
        
    }
    .other-services .container ul div {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        gap: 20px;
        padding-left: 25%;
    }
    .other-services .container ul div li {
        list-style-type: circle;
    }
    
}







/*Process Section */
/*All*/
.process .container .card h4 {
    color: gray;
}
.process .container .card p a {
    color: var(--dark-colour);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/*Mobile*/
@media (max-width: 480px) {
.process .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.process .container .card {
    height: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
}
@media (min-width: 481px) {
    .process .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        height: 700px;
        padding: 30px 0;
    }
    .process .container .card {
        padding: 10px 50px
    }
    .process .container .one {
        grid-row: 1/2;
        grid-column: 1/2
        
    }
    .process .container .two {
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .process .container .three {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .process .container .four {
        grid-row: 2/3;
        grid-column: 2/3;
    }
}






/*Book now section*/
/*All*/
.book-now .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 0;
    
}
.book-now .container img {
    width: 100%;
    height: auto;
}
/*Mobile*/
@media (min-width: 481px) {
    .book-now .container {
        align-items: center;
    }
    .book-now .container img {
        width: 50%;
        height: auto;
    }
}








/*Quick Links*/
.quick-links .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px 15px;
}
.quick-links .container .links a {
    color: var(--light-colour);
}






/*Footer*/
footer .social-media-icons a i {
    color: var(--primary-colour);
}
footer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0;
    align-items: center;
}
footer .social-media-icons {
    display: flex;
    justify-content: center;
    gap: 35px;
}












/*Utility Classes*/
/* Containers */
.container {
    width: 90%;
    margin: auto;
}

/*Buttons*/ 

    .btn-light{
        background: var(--light-colour);
        color: var(--primary-colour);
        border: none;
        padding: 8px 15px;
        border-radius: 13px;
        width: fit-content;
        cursor: pointer;
        transition: 0.3s;
    }
    .btn-light:hover {
        background-color: var(--dark-colour);
    }
    .btn-dark {
        background-color: var(--primary-colour);
        color: var(--light-colour);
        border: none;
        padding: 8px 15px;
        border-radius: 13px;
        width: fit-content;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        transition: 0.3s;
    }
    .btn-dark:hover {
        background-color: var(--dark-colour);
    }




/*text*/
@media(max-width: 480px) { /*Small Mobile screens*/
.text-small {
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: normal;
   
}
.text-regular {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
    
}
.text-large {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: normal;
   
}
.text-x-large {
    font-size: 1.75rem;
    line-height: 1.4;
    font-weight: 600;
    
}
.text-xx-large {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
   
}
}
@media(min-width: 481px) { /*Larger Screens*/
    .text-small {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: normal;
       
    }
    .text-regular {
        font-size: 1.5rem;
        line-height: 1.4;
        font-weight: normal;
        
    }
    .text-large {
        font-size: 2rem;
        line-height: 1.4;
        font-weight: normal;
       
    }
    .text-x-large {
        font-size: 2.5rem;
        line-height: 1.4;
        font-weight: 600;
        
    }
    .text-xx-large {
        font-size: 3rem;
        line-height: 1.2;
        font-weight: 600;
       
    }
    }




/*Backgrounds*/
.bg-primary {
    background: var(--primary-colour);
    color:  var(--light-colour);
}
.bg-light {
    background: var(--light-colour);
    color: var(--primary-colour);
}
.bg-dark {
    background: var(--dark-colour);
    color: #fff;
}

/*Lists*/
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}


