* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
:root {
    --primary-colour: #2a4747;
    --dark-colour: #002642;
    --light-colour: #F9F8F8;
}

/*Main Header*/
.main-page-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
}
.main-page-header .container .logo {
    font-weight: 700;
}

/*Hero*/
.hero {
    background: url(./assets/hero-image.jpg) no-repeat;
    background-size: 550px auto;
}
.hero .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 30px;
}
.hero .container .hero-text {
    width: 55%;
    color: var(--primary-colour);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*Service Cards*/
.service-cards .container{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.service-cards .container .card .service-card-header {
    font-weight: 600;
}
.service-cards .container div:nth-child(1) {
    margin-top: 30px;
}
.service-cards .container div:nth-child(4) {
    margin-bottom: 30px;
}
.service-cards .container .card {
    padding: 20px;
}
.service-cards .container .card a {
    color: var(--dark-colour);
}

/*About Section*/
.about .container .about-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px 0;
}

/*Why Work with us*/
.work-with-us .container img {
    width: 100%;
    height: auto;
}
.work-with-us .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}
.work-with-us .container {
    padding: 20px 0;
}

.work-with-us .container button i{
    padding-left: 10px;
}

/*Other Services*/
.other-services .container {
    padding: 30px 30px;
}

.other-services .container ul {
    list-style-type: square;
    
}

/*Process Section */
.process .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 0;
}
.process .container .card {
    height: 200px;
    padding-left: 15px;
    padding-right: 15px;
}
.process .container .card h4 {
    color: gray;
}
.process .container .card p a {
    color: var(--dark-colour);
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

/*Book now section*/
.book-now .container {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 40px 0;
}
.book-now .container img {
    width: 100%;
    height: auto;
}

/*Quick Links*/
.quick-links .container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
}
.quick-links .container .links a {
    color: var(--light-colour);
}




/*Utility Classes*/
/* Containers */
.container {
    width: 90%;
    margin: auto;
}

/*Buttons*/ 
@media(max-width: 480px) {
    .btn-light{
        background: var(--light-colour);
        color: var(--primary-colour);
        border: none;
        padding: 5px 10px;
        border-radius: 13px;
        width: fit-content;
        cursor: pointer;
    }
    .btn-dark {
        background-color: var(--primary-colour);
        color: var(--light-colour);
        border: none;
        padding: 5px 10px;
        border-radius: 13px;
        width: fit-content;
        box-shadow: -5px -5px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
    }
}

/*text*/
@media(max-width: 480px) { /*Small Mobile screens*/
.text-small {
    font-size: 0.75rem;
    line-height: 1.4;
    font-weight: normal;
   
}
.text-regular {
    font-size: 1rem;
    line-height: 1.4;
    font-weight: normal;
    
}
.text-large {
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: normal;
   
}
.text-x-large {
    font-size: 1.75rem;
    line-height: 1.4;
    font-weight: 600;
    
}
.text-xx-large {
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 600;
   
}
}




/*Backgrounds*/
.bg-primary {
    background: var(--primary-colour);
    color:  var(--light-colour);
}
.bg-light {
    background: var(--light-colour);
    color: var(--primary-colour);
}
.bg-dark {
    background: var(--dark-colour);
    color: #fff;
}

/*Lists*/
li {
    list-style-type: none;
}
a {
    text-decoration: none;
}


